# Production domain for DynDNS service
# Copy this file to .env and adjust the value
# To use the DynDNS updater in you local environment (behind your router),
# just set the DOMAIN_DYNDNS_UPDATER variable to :80
DOMAIN_DYNDNS_UPDATER=dyndns.example.com
